html {
    background-color: black;
}

h1 {
    color: wheat;
    text-align: center;
}
div{
    text-align: center;
}
img {
    border: 4px solid rgb(249, 245, 245);
    max-width: 100%;
}
h3 {
    color: white;
    text-align: center;
    font-weight: lighter;
}
